<!-- ======= Header ======= -->
<div class="container-fluid p-0">
  <header id="header" class="d-flex align-items-center">
    <div class="menu w-100" id="menu">
      <nav class="navbar navbar-expand-lg " id="navbar-example2">
          <div class="container">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <div class="navbar-brand logo">
              <img class="logo-img" src="./assets/images/sri-media-logo2.png" alt="logo">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navbar-toggler">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0  nav-pills">
                <li class="nav-item" (click)="closeDropdownOnSmallScreen()">
                  <a class="nav-link " href="#banner">HOME</a>
                </li>
                <li class="nav-item" (click)="closeDropdownOnSmallScreen()">
                  <a class="nav-link"  href="#services">SERVICES</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#">OUR WORK</a>
                </li> -->
                <li class="nav-item" (click)="closeDropdownOnSmallScreen()">
                  <a class="nav-link " href="#aboutus">ABOUT US</a>
                </li>
                <li class="nav-item" (click)="closeDropdownOnSmallScreen()">
                  <a class="nav-link" href="#footer">CONTACT</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </div>
    </header><!-- End Header -->
  
  <section id="hero" >
      <div class="hero-container container" data-aos="fade-up">
        <div  >
          <div class="hero-logo">
            <img class="" src="./assets/images/sri-media-logo2.png" alt="sri-media">
          </div>
  
          <h1>A Creative design studio</h1>
          <h2><span class="typed" #typed></span></h2>
          <div class="actions">
            <a href="#about" class="btn-get-started">Get Strated</a>
            <a href="#services" class="btn-services">Our Services</a>
          </div>
        </div>
      </div>
    </section><!-- End Hero -->
  
    <section id="what_we_do" class="what_we_do">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title heading">
          <h3 class="section-title">What we do</h3>
          <div class="section-title-divider"></div>
        </div>
  
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-center" >
            <div class="content">
              <a href="#" data-bs-toggle="modal" data-bs-target="#fashionModal">
                <div class="content-overlay"></div>
                <img class="content-image" src="./assets/images/EventManagement.jpg" alt="">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">BIRTHDAYS</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center" >
            <div class="content">
              <a href="#" data-bs-toggle="modal" data-bs-target="#fashionModal">
                <div class="content-overlay"></div>
                <img class="content-image" src="./assets/images/EventManagement.jpg" alt="">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">CRADLE CEREMONY</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center" >
            <div class="content">
              <a href="#" data-bs-toggle="modal" data-bs-target="#fashionModal">
                <div class="content-overlay"></div>
                <img class="content-image" src="./assets/images/EventManagement.jpg" alt="">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">SAREE CEREMONY</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center" >
            <div class="content">
              <a href="#" data-bs-toggle="modal" data-bs-target="#fashionModal">
                <div class="content-overlay"></div>
                <img class="content-image" src="./assets/images/EventManagement.jpg" alt="">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">DOTHI CEREMONY</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center" >
            <div class="content">
              <a href="#" data-bs-toggle="modal" data-bs-target="#fashionModal">
                <div class="content-overlay"></div>
                <img class="content-image" src="./assets/images/EventManagement.jpg" alt="">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">ENGAGEMENT</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center" >
            <div class="content">
              <a href="#"  data-bs-toggle="modal" data-bs-target="#fashionModal">
                <div class="content-overlay"></div>
                <img class="content-image" src="./assets/images/EventManagement.jpg" alt="">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">SANGEETH</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-center" >
            <div class="content">
              <a href="#"  data-bs-toggle="modal" data-bs-target="#fashionModal">
                <div class="content-overlay"></div>
                <img class="content-image" src="./assets/images/EventManagement.jpg" alt="">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Fashion & Beauty Events</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
  
      </div>
    </section>
    <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fashionModal">
    Launch demo modal
  </button> -->
  
    <main id="main">
  
      <!-- ======= About Section ======= -->
      <section id="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">About Us</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">Innovative Events and Fashion, Customized Just for You.</p>
            </div>
          </div>
        </div>
        <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
          <div class="row">
  
            <div class="col-lg-6 about-img">
              <img src="./assets/images/about-us.jpg" alt="about-us">
            </div>
  
            <div class="col-md-6 about-content">
              <h2 class="about-title">Customized Event & Fashion Solutions by SRI MEDIA</h2>
              <p class="about-text">
                Welcome to SRI MEDIA, your destination for cutting-edge events and fashion showcases Customized to your unique vision. Our team of experts is dedicated to pushing the boundaries of innovation, offering personalized themes, bespoke runway designs, and immersive experiences. With SRI MEDIA, you have the power to create unforgettable moments that leave a lasting impact on your audience. Join us as we redefine the landscape of events and fashion with our customizable approach.
              </p>
            </div>
          </div>
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="services">
        <div class="container">
          <div class="row" data-aos="fade-up">
            <div class="col-md-12">
              <h3 class="section-title">Our Services</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">Where Every Moment is  Customized to Perfection.</p>
            </div>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 service-item">
              <div class="service-icon"><i class="fas fa-heart"></i></div>
              <h4 class="service-title"><a href="">Your Events, Our Passion</a></h4>
              <p class="service-description">We Handle Your Special Events with Care: SRI MEDIA's Personal Touch.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
              <div class="service-icon"><i class="fas fa-check"></i></div>
              <h4 class="service-title"><a href="">Customized to Perfection</a></h4>
              <p class="service-description">Customize Your Events with Professional Production: SRI MEDIA's Expert Team.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
              <div class="service-icon"><i class="fas fa-music"></i></div>
              <h4 class="service-title"><a href="">Capture Memories in Melody</a></h4>
              <p class="service-description">Custom Songs for Your Special Moments: Relive Joy Again and Again.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
              <div class="service-icon"><i class="fas fa-paint-brush"></i></div>
              <h4 class="service-title"><a href="">Fashioning Beauty in Every Resident.</a></h4>
              <p class="service-description">Gated Community Events: Unleashing Every Resident's Inner Model.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
              <div class="service-icon"><i class="fas fa-thumbs-up"></i></div>
              <h4 class="service-title"><a href="">Enjoyable Events, Expertly Organized.</a></h4>
              <p class="service-description">All our events are organized by our professional team which cover all aspects to ensure you have fun and enjoy until the end.</p>
            </div>
          </div>
        </div>
      </section><!-- End Services Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <a href="index.html" class="logo"><img src="./assets/images/sri-media-logo2.png" alt="sri-media-logo"></a>
        <!-- <h3>SRI MEDIA</h3> -->
        <!-- <p>Your dream our wish</p> -->
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="facebook"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="instagram"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Srimedia</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- Modal -->
  <div class="modal modal-vcenter fade" id="fashionModal" tabindex="-1" aria-labelledby="fashionModalLabel"
  aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="fashionModalLabel">Fashion & Beauty Events</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Hyderabad</h5>
                <small class="text-body-secondary">3 days ago</small>
              </div>
              <small class="text-body-secondary">Hi Life Exhibition Hyderabad</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Hyderabad</h5>
                <small class="text-body-secondary">3 days ago</small>
              </div>
              <small class="text-body-secondary">Hi Life Exhibition Hyderabad</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Hyderabad</h5>
                <small class="text-body-secondary">3 days ago</small>
              </div>
              <small class="text-body-secondary">Hi Life Exhibition Hyderabad</small>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn-services" data-bs-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>